:root{
    --1-color:red;
    --2-color:rgb(15, 15, 98);
    --3-color:black;
    --font-family: "Poppins", serif
}
main{
    margin: 0;
    font-family: var(--font-family);
}
body{
    margin: 0;
    background: var(--3-color);
}
header{
    margin: 0;
    background: var(--1-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-sobre{
    display: flex;
    justify-content: space-between;
    width: 30%;
    position: relative;
    left: 2rem;
}
.btn-home{
    display: flex;
    background:none;
    border: none;
    font-family: var(--font-family);
    color: var(--3-color);
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}
.btn-home:hover{
    background: var(--2-color);
    transition: 500ms ;
    cursor: pointer;
}
.btn-sobre{
    display: flex;
    background:none;
    border: none;
    font-family: var(--font-family);
    color: var(--3-color);
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}
.btn-sobre:hover{
    background: var(--2-color);
    transition: 500ms ;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: c;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background: var(--2-color);
    color: var(--3-color);
    font-family: var(--font-family);
    gap: 1rem;
    padding-bottom: 10%;
    padding-top: 5%;
}
p{
    font-size: 1.3rem;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0.5rem;
    background: var(--3-color);
    color: var(--1-color);
    font-weight: bold;
    font-size: 0.5rem;
    font-family: var(--font-family);
    position: relative;
    margin-bottom: 0;
}
.img-footer{
    position: absolute;
    bottom: 35px; /* Alinhar ao topo */
    left: 2%; /* Alinhar à direita */
    width: 150px;
}
.card{
    width: 50%;
}
.inputs{
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}
.inputs input{
    width: 100%;
    background: var(--1-color);
    border: 4px solid var(--3-color);
    padding: 0.5rem;
    color: var(--3-color);
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 1.3rem;
    outline: none;
}
.inputs ::placeholder{
    width: 100%;
    background: var(--1-color);
    color: var(--3-color);
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 1.3rem;

}
.btns{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
}
.btns button{
    display: flex;
    background:var(--1-color);
    border: none;
    font-family: var(--font-family);
    color: var(--3-color);
    font-weight: bold;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 15px;
}
.btns button:hover{
    background: var(--3-color);
    color: var(--1-color);
    transition: 500ms ;
    cursor: pointer;
}