:root{
    --1-color:red;
    --2-color:rgb(15, 15, 98);
    --3-color:black;
    --font-family: "Poppins", serif
}
main{
    margin: 0;
    font-family: var(--font-family);
    flex: 1;
}
body{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--3-color);
}
header{
    margin: 0;
    background: var(--1-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.home-sobre{
    display: flex;
    justify-content: space-between;
    width: 30%;
    position: relative;
    left: 2rem;
}
.btn-home{
    display: flex;
    background:none;
    border: none;
    font-family: var(--font-family);
    color: var(--3-color);
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}
.btn-home:hover{
    background: var(--2-color);
    transition: 500ms ;
    cursor: pointer;
}
.btn-sobre{
    display: flex;
    background:none;
    border: none;
    font-family: var(--font-family);
    color: var(--3-color);
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}
.btn-sobre:hover{
    background: var(--2-color);
    transition: 500ms ;
    cursor: pointer;
}
.cadastro-login{
    display: flex;
    justify-content: space-between;
    width: 20%;
    position: relative;
}
.btn-login{
    display: flex;
    background:none;
    border: none;
    font-family: var(--font-family);
    color: var(--3-color);
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    
}
.btn-login:hover{
    background: var(--2-color);
    transition: 500ms ;
    cursor: pointer;
}
.btn-cadastro{
    display: flex;
    background:none;
    border: none;
    font-family: var(--font-family);
    color: var(--3-color);
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}
.btn-cadastro:hover{
    background: var(--2-color);
    transition: 500ms ;
    cursor: pointer;
}
.img-header{
    position: absolute;
    top: 50px; /* Alinhar ao topo */
    right: 0; /* Alinhar à direita */
    width: 100px;
    margin: 0;
}
.apresentação{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background: var(--2-color);
    color: var(--1-color);
    font-weight: bold;
    font-size: 2rem;
    font-family: var(--font-family);
    padding-bottom: 10%;
    padding-top: 5%;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0.5rem;
    background: var(--3-color);
    color: var(--1-color);
    font-weight: bold;
    font-size: 0.5rem;
    font-family: var(--font-family);
    position: relative;
    margin-bottom: 0;
}
.img-footer{
    position: absolute;
    bottom: 35px; /* Alinhar ao topo */
    left: 2%; /* Alinhar à direita */
    width: 150px;
}
.teia{
    position: absolute;
    opacity: 20%;
    left: 10%;
    top: 10%;
    filter: drop-shadow(0 0 30px var(--1-color));
    width: 650px;
    z-index: 1;
}